/* Styles for header and footer */
.footer {
    width: 100%;
    height: 60px;
    position: absolute;
    bottom: 0;
    left: 0;
    display: table;
    background: #001e41;
    color: white;
}

.header {
    width: 100%;
    height: 60px;
    position: relative;
    top: 0;
    left: 0;
    display: table;
    background: #001e41;
    color: white;
  }

.headerContent, .footerContent {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

/* Styles for ag grid component */
.ag-grid {
    height: 390px;
}

.ag-header-cell-label{
    width: 100% !important;
    justify-content: center !important;
}

/* Styles for modal */
.modal-header-style{
    background-color: #153869;
    color: white;
  }

.btn-modal{
    background-color: #153869 !important;
}

