    <button (click)='callMethodVisualize()' class="btn btn-info btn-sm mt-1 mr-1" [ngbTooltip]="msjToolTipView">
        <span class="fas fa-eye"></span>
    </button>
    
    <button (click)='callMethodModify()' *ngIf="isVisibleButton" class="btn btn-info btn-sm mt-1 mr-1" [ngbTooltip]="msjToolTipEdit">
        <span class="fas fa-edit"></span>
    </button>
    
    
    <button (click)='callMethodDelete()' *ngIf="isVisibleButton" class="btn btn-info btn-sm mt-1 mr-1" [ngbTooltip]="msjToolTipDelete">
        <span class="fas fa-trash-alt"></span>
    </button>
